body{
    background-color:rgb(45, 10, 45);
    text-align: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.container{
    background-color: rgb(245, 242, 240);
    padding: 5%;
    margin: 10%; 
    border-radius: 10px;
    

}
#me:hover {
    color: rgb(218, 15, 15);
    background-color: yellow;
  }
#me{
    height: 10%;
    background-color: blueviolet;
    border-radius: 10%;
} 